@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
 margin: 0;
 box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  color: #efefef;
  background-color: #c70025;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 16px;
  box-shadow: 0 5px 10px #c7002479;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.logo-container h1 {
  font-family: "Potta One", sans-serif;
  font-size: 4rem;
  margin: 0;
}

.header-logo__image {
  height: 5rem;
}

.catchphrase {
  font-family: "Potta One", sans-serif;
  font-size: 1.2rem;
}

#content {
  min-height: 100%;
  background-color: #f9e6e9;
}

.main-content {
  padding: 3rem;
  background-color: #fcf2f4;
  height: 100%;
}

.tabs-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.content-tab {
  cursor: pointer;
  width: 200px;
  color: #aaaaaa;
  padding: 1rem 0;
  text-align: center;
  font-family: "Potta One", sans-serif;
  background-color: #efefef;
  border: 5px solid #c70025;
  border-top: none;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
}

.selected {
  background-color: #c70024ca;
  color: white;
}

#dynamic-content__container {
  margin: 50px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos-container {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.556);
  border-radius: 25px;
}

.home-page__title {
  background-color: #c70025;
  color: #efefef;
  font-family: "Potta One";
  text-align: center;
  border-radius: 25px 25px 0 0;
  font-size: 2rem;
  padding: 10px;
}

.restaurant-infos-container {
  padding: 2rem;
  border: 3px solid #c70025;
}

.restaurant-infos-container div:nth-child(2) {
  margin-bottom: 16px;
}

.restaurant-infos-container div:nth-child(3),
.restaurant-infos-container div:nth-child(4) {
  font-weight: 700;
}

.home-page__infos {
  font-family: 'Verdana', sans-serif;
  padding: 5px 16px;
  text-align: center;
}

.order-container {
  background-color: #c70025;
  border-radius: 0 0 25px 25px;
  padding: 16px;
  color: #efefef;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

.online-order__container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.online-order__container button {
  width: 200px;
  font-family: 'Verdana', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 0;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
  cursor: pointer;
  transition: all 0.2s;
}

.online-order__container button:hover {
  background-color: #c70024ca;
}

.online-order__container button:active {
  background-color: white;
  transform: scale(0.9);
}

.meals-page__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #c70025;
  border-radius: 5px;
  width: 550px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.556);
}

.meal-container {
  font-family: "Verdana", sans-serif;
  width: 100%;
  padding: 16px;
  background-color: #efefef;
  border: 5px solid #c70024a7;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr 1fr 30px;
  grid-column-gap: 16px;
}

.meal-container:nth-of-type(even) {
  grid-template-areas:  "image name"
                        "image description"
                        "image description"
                        "image price";
}

.meal-container:nth-of-type(odd) {
  grid-template-areas:  "name image"
                        "description image"
                        "description image"
                        "price image";
}

.meal-image {
  grid-area: image;
  max-width:150px;
  max-height: 150px;
  place-self: center center;
  margin: 10px;
}

.meal-name {
  grid-area: name;
  font-weight: 700;
}

.meal-description {
  grid-area: description;
}

.meal-price {
  grid-area: price;
  justify-self: right;
  font-weight: 700;
  margin-top: 1rem;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Verdana', sans-serif;
  font-size: 0.8rem;
  color: #efefef;
  text-align: center;
}

@media (max-width: 40rem) {
  .logo-container {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .logo-container h1 {
    font-size: 2rem;
  }

  .catchphrase {
    text-align: center;
  }

  #dynamic-content__container {
    margin: 50px 10px;
  }

  .meals-page__content-wrapper {
    width: 90%;
  }

  .meal-container {
    display: flex;
    flex-direction: column;
  }

  .meal-price {
    align-self: end;
  }
}